

/*.record_span {*/
/*    white-space: nowrap; !* 不换行 *!*/
/*    overflow: hidden; !* 超出隐藏 *!*/
/*    text-overflow: ellipsis; !* 显示省略号 *!*/
/*    max-width: 200px; !* 指定最大宽度 *!*/
/*}*/

/*.abc{*/
/*    background-color: #9b66e7;*/
/*    width: max-content;*/
/*    display: inline-block;*/
/*    padding: 0 !important;*/
/*    margin: 0 !important;*/
/*}*/

/*.abc .ant-table-cell {*/
/*    padding: 0 !important;*/
/*    background-color: #ce95cc;*/
/*}*/

.ant-table{
    border-radius: 10px !important;
}

.music-player {
    position: fixed;
    left: 0;
    width: 800px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
    height: 50px;
    /*transition: height 0.5s ease;*/
    margin-left: 20%;
    border-radius: 8px;
    bottom: 40px;
}

/*.music-player:hover {*/
/*    height: 50px;*/

/*}*/